<%# encoding: utf-8 %>

<h2><%= notice %></h2>
<br />

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Rola:</b>
  <%= @user.role %>
</p>

<p>
  <b>Jednostka:</b>
  <% if @user.unit.nil? %>
    (brak)
  <% else %>
    <%= @user.unit.name %>
  <% end %>
</p>