<%# encoding: utf-8 %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dziękujemy za zgłoszenie szkody!</h1>
    <p>
      Twoje zgłoszenie zostało przyjęte z identyfikatorem: <b><%= @issue_instance.id %></b>.<br/>
    </p>
    <p>
     <% if @issue_instance.issue.issue_instances.length > 1 %>
     Twoje zgłoszenie zostało automatycznie przyporządkowane do istniejącego zgłoszenia w pobliżu.
     <% end %>
     Obecny status zgłoszenia: <b><%= @issue_instance.issue.status.name %></b>.
    </p>
    <p>
      Status Twojego zgłoszenia możesz w każdej chwili sprawdzić na stronie:
      <% check_url = url_for :controller => 'notifies', :action => 'check_status',
         :id => @issue_instance.id, :only_path => false %>
      <%= link_to check_url, check_url %>.<br>
      O każdej kolejnej zmianie statusu, zostaniesz również poinformowany(a) kolejną wiadomością e-mail.<br>
    </p>
    <p><small>Ten e-mail został wysłany automatycznie. Prosimy nie odpowiadać na niego.</small></p>
  </body>
</html>