<%# encoding: utf-8 %>

<h2><%= notice %></h2>
<br />

<p>
  <b>Nazwa:</b>
  <%= @status.name %>
</p>

<p>
  <div class="color_label">
    <b>Kolor:</b>
    <%= @status.color %>
  </div>
  <div class="color_preview" style="background: #<%= @status.color %>;"></div>
</p>