<%# encoding: utf-8 %>
<div id="header-container">
	<div id="header" />
</div>
<p>
  <b>Category:</b>
	<%= @issue_instances.issue.category.name %>
</p>

<p>
  <b>Status:</b>
	<%= @issue_instances.issue.status.name %>
</p>

<p>
  <b>Unit:</b>
	<%= @issue_instances.issue.unit.name %>
</p>

<p>
  <b>Desc:</b>
	<%= @issue_instances.desc %>
</p>

<!-- TODO photos -->


