<%# encoding: utf-8 %>
<%- content_for(:head_extra) do -%>

<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyAcWrk6Vv91SXalY8y1mc3akRQI3RmcicA&sensor=true" -%>
<%= javascript_include_tag "polygons.js" -%>

<%- end -%>

<%- @body_onload = "initializeNew(#{@unit.id})" -%>

<h1>Nowa jednostka</h1>

<div id="map_canvas" style="width:70%; height:60%"></div>

<%= render 'form' %>

<%= link_to 'Wstecz', units_path %>
