@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
}
 
#header-container {
	width: 100%;
	height: 204px;
	background-color: #000000;
}
 
#header {
	background: url(dziura.JPG);
	background-repeat: no-repeat;
	width: 1024px;
	height: 204px;
	margin: auto;
}

img {
	border: none;
}
 
#nav {
	height: 76px;
	width: 1024px;
	padding-top: 152px;
}
 
#nav ul
{
	text-align: left;
	margin: auto;
	width: 1024px;
}
 
#nav ul li
{
	font: 120%/1.5em "Lucida Grande", Geneva,
                    "DejaVu Sans", "Bitstream Vera Sans", AnjaliOldLipi,
                    "Lucida sans", "Trebuchet MS", Arial, Verda;
	display: inline;
	padding: 0px;
	margin: 0px;
	color: #000000;
}

table {
	margin-left: 100px;
    font: 90%/1.5em "Lucida Grande", Geneva,
                    "DejaVu Sans", "Bitstream Vera Sans", AnjaliOldLipi,
                    "Lucida sans", "Trebuchet MS", Arial, Verdana;
    text-align: left;
    border: 3px black double;
    border-spacing: 0;
    -moz-border-radius: 8px;
    -moz-box-shadow: #6a3d37 5px 5px 6px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: #6a3d37 5px 5px 6px;
    border-radius: 8px;
    box-shadow: #6a3d37 5px 5px 6px;
}

th {
    color: #000000;
    font-size: 110%;
    text-shadow: #6a3d37 1px 1px 1px;
	padding-left: 10px;
	padding-right: 5px;
}

td {
	border-top-style:groove;
	border-top-width: 1px;
	padding-left: 10px;
	padding-right: 5px;
}

th:first-of-type,
td:first-of-type {
    padding: 0 0 0 2em
}

th:last-of-type,
td:last-of-type {
    padding: 0 2em 0 0
}

#nav a {
  text-decoration: none;
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}




