// Place all the styles related to the Issue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map_canvas { width: 800px; height: 600px; }

#search_issue {
    height: 40px;
    margin: 1%;
    padding: 1%;
    width: 96%;
}
#search_issue label {
    display: inline;
    margin-left: 70px;
}
#search_issue label:first-child {
    margin-left: 0;
}
#search_issue input[type=text] {
    width: 200px;
}