<%# encoding: utf-8 %>

<% if notice %>
<div class="notice ui-widget">
    <div class="ui-state-highlight ui-corner-all">
        <p>
            <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
            <strong>Alert:</strong>
            <%= notice %>
        </p>
    </div>
</div>
<% end %>

<p>
  <b>Nazwa:</b>
  <%= @category.name %>
</p>

<p>
  <b>Ikona:</b><br>
  <% if (@category.icon.nil?) %>
    (brak)
  <% else %>
    <%= image_tag("/res/category_icon/#{@category.id}") %>
  <% end %>
</p>