<h1>Editing issue</h1>

<div id="issue_edit">
  <%= render 'form' %>
  
  <% @issue.issue_instances.each do |ii| %>
    <% ii.photos.each do |photo| %>  
      <% photo.markers.each do |m| %>
        <div id="marker" style="left: <%= m.x %>px; top: <%= m.y %>px;"></div>
      <% end %>      
      <img id="uploaded_image" src="data:image/png;base64,<%= photo.photo %>" width="200px"/>
    <% end %>
  <% end %>
</div>

